.slider {
    margin-top: 80px;

    &__items {
        display: flex;
        justify-content: center;
    }

    &__item {
        width: 80%;
        height: 500px;
    }

    &__dots {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: grey;

        &:not(:last-child) {
            margin-right: 14px;
        }

        &--active {
            background: black;
        }
    }
}